@import 'variables-and-mixins';

// Disable Bootstrap container system in favour of our own.
$container-max-widths: ();

$grid-breakpoints: (
  xs: 0,
  sm: $sm-width,
  md: $md-width,
  lg: $lg-width,
  xl: $xl-width,
);

$grid-gutter-width: rem-calc(24);
$container-padding-x: rem-calc(24);

@import 'vendor/bootstrap/bootstrap-grid';

.container {
  padding: 0 $container-padding-x;
  margin: auto;
  max-width: rem-calc(1220);

  &--xl {
    max-width: rem-calc(1440);
  }
}
