<div class="grid-intro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h2 class="h3">{{title}}</h2>
        <p>{{text}}</p>
      </div>

      <div class="col-12 col-lg-5">
        <div class="grid-intro__link-container">
          {{> atoms/cta-link/cta-link text="Bekijk ons werk" }}
        </div>
      </div>
    </div>
  </div>
</div>