<div class="case-hero">
  <img class="case-hero__image" src="images/featuredCase.jpg" alt="" style="view-transition-name: case-image" />

  <div class="case-hero__content" style="view-transition-name: case-content" id="case">
    <div class="container">
      <dl>
        <div>
          <dt>Client</dt>
          <dd>Eindhoven 365</dd>
        </div>
        <div>
          <dt>Project</dt>
          <dd>This is Eindhoven</dd>
        </div>
        <div>
          <dt>Solution</dt>
          <dd>Kentico 13</dd>
        </div>
        <div>
          <dt>Industry</dt>
          <dd>City Marketing</dd>
        </div>
      </dl>

      <div class="case-hero__intro">
        <div class="case-hero__intro-left">
          {{> components/conversion-block/conversion-block }}
        </div>

        <div class="case-hero__intro-right">
          <h1 class="h3">Website Compleet vernieuwd met Kentico Xperience 13</h1>

          <p>
            We bouwen graag mooie oplossingen en nemen je met liefde alles uit handen. Van interactie-ontwerp
            tot implementatie en van doelgroeponderzoek tot integratie. Ook zijn we er als je alleen één van onze
            expertises kunt gebruiken of wilt veranderen van it-partner. We stappen in waar jij dat wilt en ons
            nodig hebt.
          </p>

          <p>
            We zijn trots! Niet zo gek als je in 15 jaar tijd zoveel mooie oplossingen hebt mogen maken voor
            zulke fijne klanten en mooie merken. Bekijk hieronder een selectie van ons werk.
          </p>

          {{> atoms/button/button text="Wat we hebben gedaan" href="homepage.html" }}
        </div>
      </div>
    </div>
  </div>

</div>