.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  font-size: 16px;
  line-height: 1.75;
  color: white;
  text-decoration: none;
  padding: 40px;
  flex-grow: 0;
  max-width: 1024px;

  canvas {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;

    @at-root .no-curtains & {
      opacity: 1;
    }
  }

  :visited {
    color: white;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0 0 24px 0;
  }

  p {
    font-weight: 300;
    margin: 0;
  }

  &__cta {
    font-weight: 500;
  }
}

.card-row {
  display: flex;
  gap: 24px;
  margin: 16px 0;
  justify-content: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}
