<a class="card curtains-plane js-card" href={{href}}>
    <canvas data-sampler="simplePlaneTexture"></canvas>

    <div class="card__description">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
    </div>

    <div class="card__cta">{{ctaLabel}}</div>
</a>