<section class="home-hero" data-bg-dark>
  <div class="container">
    <h1>
      Let's grow
      <span class="visually-hidden">Business, Commerce, Customer Experience and Digital Platforms</span>

      <span aria-hidden="true" class="phrases js-home-hero-phrases">
        <span class="phrase">Business</span>
        <span class="phrase">Commerce</span>
        <span class="phrase">Customer Experience</span>
        <span class="phrase">Digital Platforms</span>
      </span>
    </h1>
  </div>
</section>