<section class="featured-case client-greenchoice" data-bg-dark>
    <img class="featured-case__image" src="images/case-greenchoice.jpg" alt="" />

    <a href="case-greenchoice.html" class="featured-case__cta">
        {{> components/conversion-block/conversion-block }}

        .NET framework en DevOps team bij Greenchoice

        <i class="fa-solid fa-arrow-right"></i>
    </a>
</section>