<div class="featured-case">
    <img src="images/featuredCase.jpg" alt="" style="view-transition-name: case-image" />

    <a href="case.html#case" class="featured-case__cta js-featured-case-cta" style="view-transition-name: case-content">
        {{> components/conversion-block/conversion-block }}

        .NET framework en DevOps team bij Greenchoice

        <i class="fa-solid fa-arrow-right"></i>
    </a>
</div>