<div class="featured-case">
    <img class="featured-case__image js-featured-case-image" src="images/featuredCase.jpg" alt="" />

    <a href="case.html#case" class="featured-case__cta js-featured-case-cta">
        {{> components/conversion-block/conversion-block }}

        .NET framework en DevOps team bij Greenchoice

        <i class="fa-solid fa-arrow-right"></i>
    </a>
</div>