<div id="curtain"></div>

<div class="page">
    <h1>Digitale oplossingen die meegroeien.</h1>

    {{#> components/card/card-row }}
        {{> components/card/card
                title='Experience & Design'
                description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
                ctaLabel='Ontdek meer'
                href='#'
        }}

        {{> components/card/card
                title='Development & Engineering'
                description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
                ctaLabel='Ontdek meer'
                href='#'
        }}

        {{> components/card/card
                title='Growth & Marketing'
                description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
                ctaLabel='Ontdek meer'
                href='#'
        }}
    {{/ components/card/card-row }}

    {{#> components/card/card-row }}
        {{> components/card/card
                title='Inhouse & Professionalisering'
                description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
                ctaLabel='Ontdek meer'
                href='#'
        }}

        {{> components/card/card
                title='Experience & Design'
                description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
                ctaLabel='Ontdek meer'
                href='#'
        }}
    {{/ components/card/card-row }}
</div>