{{> components/home-hero/home-hero }}

{{> components/featured-case/featured-case }}

<div class="page" data-bg-light>
  {{> components/card-row-intro/card-row-intro
    title="We stappen in waar jij dat wilt en ons nodig hebt."
    text="We bouwen graag mooie oplossingen en nemen je met liefde alles uit handen. Ook zijn we er als je alleen één van onze expertises kunt gebruiken of wilt veranderen van it-partner."
    linkText="Bekijk ons werk"
  }}

  <div class="container container--xl" data-bg-dark>
    {{#> components/card-row/card-row }}
      {{> components/card/card
        title='Experience & Design'
        description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
        ctaLabel='Ontdek meer'
        href='case-greenchoice.html'
      }}

      {{> components/card/card
        title='Development & Engineering'
        description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
        ctaLabel='Ontdek meer'
        href='case-this-is-eindhoven.html'
      }}

      {{> components/card/card
        title='Growth & Marketing'
        description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
        ctaLabel='Ontdek meer'
        href='case-plaisio.html'
      }}
    {{/ components/card-row/card-row }}

    {{#> components/card-row/card-row }}
      {{> components/card/card
        title='Inhouse & Professionalisering'
        description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
        ctaLabel='Ontdek meer'
        href='case-greenchoice.html'
      }}

      {{> components/card/card
        title='Experience & Design'
        description='We werken samen met jouw IT-organisatie om de teams, architecture en platformen te bouwen die je digitale business vooruit brengen. '
        ctaLabel='Ontdek meer'
        href='case-plaisio.html'
      }}
    {{/ components/card-row/card-row }}
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>