@import 'src/assets/scss/variables-and-mixins';

.on-case-page-transition {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100dvh;
  background-color: var(--client-primary);
  transform: translateY(0%);
  z-index: 11;

  &--do-transition {
    animation: 0.6s ease-in forwards on-case-page-transition;
  }
}

@keyframes on-case-page-transition {
  0% {
    transform: translateY(0%);
  }

  50% {
    opacity: 1;
    transform: translateY(65%);
  }

  100% {
    opacity: 0;
    transform: translateY(65%);
    display: none;
  }
}
