@import 'src/assets/scss/variables-and-mixins';

@mixin caret {
  position: absolute;
  top: 5%;
  height: 90%;
  content: '';
}

.home-hero {
  color: white;
  background: $primary-500;
  padding: rem-calc(120 0 80);

  .phrases {
    display: grid;
  }

  .phrase {
    position: relative;
    color: transparent;
    grid-area: 1 / 1;

    .char {
      position: relative;
      display: inline-block;

      &--blank-space {
        @include md-down {
          display: block;
          height: 0;
        }
      }
    }

    &--do-type {
      color: inherit;

      .char {
        animation: 0s linear typing both var(--typing-delay);

        &::after {
          @include caret;
          animation: var(--typing-delay-per-char) steps(1) caret-during-typing both
            var(--typing-delay);
        }

        &:last-child::after {
          animation: 1s steps(2, end) caret-when-not-typing var(--typing-delay) infinite;
        }
      }
    }

    &--do-remove {
      color: inherit;

      .char {
        --removing-delay-per-character: calc(var(--typing-delay-per-char) / 1.5);
        --removing-delay: calc(var(--total-typing-delay) - (var(--typing-delay) / 1.5));
        animation: 0s linear removing both var(--removing-delay);

        &::before {
          @include caret;
          left: 6px;
          animation: var(--removing-delay-per-character) steps(1) caret-during-typing both
            var(--removing-delay);
        }

        &:first-child::before {
          animation: 1s steps(2, end) caret-when-not-typing var(--removing-delay) infinite;
        }
      }
    }
  }
}

@keyframes typing {
  from {
    color: transparent;
  }

  to {
    color: inherit;
  }
}

@keyframes removing {
  from {
    color: inherit;
  }

  to {
    color: transparent;
  }
}

@keyframes caret-during-typing {
  0% {
    border-left: 0;
  }

  0.1%,
  99.9% {
    border-left: 4px solid white;
  }

  100% {
    border-left: 0;
  }
}

@keyframes caret-when-not-typing {
  0% {
    border-left: 4px solid white;
  }

  100% {
    border-left: 0;
  }
}
