<header class="header js-header">
  <div class="header-top-slice js-header-top-slice" aria-hidden="true" inert tabindex="-1"></div>

  <div class="header-bottom-slice js-header-bottom-slice" aria-hidden="true" inert tabindex="-1"></div>

  <div class="header__content js-header-content">
    <div class="container">
      <div class="header__inner">
        <img src="images/logo.svg" alt="Aviva Solutions" width="105" height="46">

        <nav>
          <a href="#">Diensten</a>
          <a href="#">Solutions</a>
          <a href="#">Cases</a>
          <a href="#">Insights</a>
          <a href="#">Over ons</a>
          <a href="#">Werken bij</a>
        </nav>
      </div>
    </div>
  </div>
</header>