<!DOCTYPE html>
<html lang="nl">

<head>
    <title>New Aviva Site POC | {{title}}</title>

    {{> layouts/tags/head }}
</head>

<body class="{{clientClass}}">

<div id="curtain"></div>

{{> (lookup properties 'pagecontent')}}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{{> page-transitions/on-case-page/on-case-page }}

</body>
</html>