<!DOCTYPE html>
<html lang="nl">

<head>
    <title>New Aviva Site POC | {{title}}</title>

    {{> layouts/tags/head }}
</head>

<body>

<div id="curtain"></div>

{{> components/header/header }}

{{> (lookup properties 'pagecontent')}}

{{> page-transitions/to-case-page/to-case-page }}

</body>
</html>