@import 'src/assets/scss/variables-and-mixins';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  &-top-slice,
  &-bottom-slice {
    position: absolute;
    right: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    &__content {
      position: absolute;
      right: 0;
      left: 0;
      height: var(--header-height);
      color: var(--header-text-color);
    }
  }

  &-top-slice {
    top: 0;
    height: var(--header-slice-height);

    &__content {
      top: 0;
    }
  }

  &-bottom-slice {
    bottom: 0;
    height: var(--header-slice-height);

    &__content {
      bottom: 0;
    }
  }

  &__content {
    color: transparent;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: rem-calc(24);
    font-size: rem-calc(20);
  }

  nav {
    display: flex;
    align-items: center;
    gap: rem-calc(40);
    margin-left: auto;

    a {
      font-weight: 500;
      text-decoration: none;
      line-height: 1.6;

      &,
      &:hover {
        color: inherit;
      }
    }
  }
}
