@import 'src/assets/scss/variables-and-mixins';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  &-top-slice,
  &-bottom-slice {
    position: absolute;
    right: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    &__content {
      position: absolute;
      right: 0;
      left: 0;
      height: var(--header-height);
      color: var(--header-text-color);

      .header__logo,
      nav {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: rem-calc(-10);
          bottom: 0;
          left: rem-calc(-10);
          background-color: var(--header-bg-color);
          backdrop-filter: blur(10px);
          border-radius: rem-calc(10);
          z-index: -1;
        }
      }
    }
  }

  &-top-slice {
    top: 0;
    height: var(--header-slice-height, 100%);

    &__content {
      top: 0;
    }
  }

  &-bottom-slice {
    bottom: 0;
    height: var(--header-slice-height, 0%);

    &__content {
      bottom: 0;
    }
  }

  &__content {
    color: white;

    &--initialized {
      color: transparent;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: rem-calc(24);
    font-size: rem-calc(20);
  }

  &__logo {
    display: block;
    color: inherit;
    padding: rem-calc(5 0);
  }

  nav {
    display: flex;
    align-items: center;
    gap: rem-calc(40);
    margin-left: auto;

    a {
      font-weight: 500;
      text-decoration: none;
      line-height: 1.6;

      &,
      &:hover {
        color: inherit;
      }
    }
  }
}
