@import 'src/assets/scss/variables-and-mixins';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: transform 0.3s ease-in-out;

  &--hidden {
    transform: translateY(-100%);
  }

  &--hidden-without-transition {
    transition: none;
  }

  &-slice {
    position: absolute;
    right: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    --header-text-color: white;
    --header-bg-color: rgba(0, 0, 0, 0.1);

    &--bg-light {
      --header-text-color: black;
      --header-bg-color: rgba(255, 255, 255, 0.1);
    }

    &--top {
      top: 0;
      height: var(--header-slice-height, 100%);

      .header-slice__content {
        top: 0;
      }
    }

    &--bottom {
      bottom: 0;
      height: var(--header-slice-height, 0%);

      .header-slice__content {
        bottom: 0;
      }
    }

    &__content {
      position: absolute;
      right: 0;
      left: 0;
      height: var(--header-height);
      color: var(--header-text-color);
      z-index: -1;
      transition: background-color 0.2s;

      @at-root .header--has-background:not(.header--hidden) & {
        backdrop-filter: blur(5px);
        background-color: var(--header-bg-color);
        transition: none;
      }

      .header__logo,
      nav {
        position: relative;
      }
    }
  }

  &__content {
    color: white;

    @at-root .header--initialized & {
      color: transparent;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: rem-calc(10 0);
    font-size: rem-calc(20);
  }

  &__logo {
    display: block;
    color: inherit;
    padding: rem-calc(5 0);
  }

  nav {
    display: flex;
    align-items: center;
    gap: rem-calc(40);
    margin-left: auto;

    a {
      font-weight: 600;
      text-decoration: none;
      line-height: 1.6;

      &,
      &:hover {
        color: inherit;
      }
    }
  }
}
